body{
    background: #ededed;
}
.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}
.creditCardForm {
    max-width: 555px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 0px #00000040;
    margin: 1em auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 15px;
}
.creditCardForm .heading h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #4c4e56;
}
.creditCardForm .payment {
    float: left;
    font-size: 18px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
}
.creditCardForm .owner {
    width: 63%;
    margin-right: 10px;
}
.creditCardForm .CVV {
    width: 35%;
}
#visa, #mastercard, #amex{
    vertical-align: -webkit-baseline-middle;
    width: 60px;
}
.creditCardForm .payment .btn {
    width: 100%;
    margin-top: 3px;
    font-size: 20px;
    outline: none;
}
.creditCardForm .payment select {
    padding: 10px;
    margin-right: 5px;
    background: transparent;
    border-color: #ccc;
    border-radius: 4px;
    color: #555;
    font-size: 14px;
}
.transparent {
    opacity: 0.15;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}